@import 'normalize-rails/normalize';
@import 'helpers/_variables.css.scss';
@import 'layout/_header.css.scss';
@import 'layout/_footer.css.scss';
@import 'pages/_standups.css.scss';
@import 'pages/_settings.css.scss';
@import 'bootstrap-sprockets';
@import 'bootstrap';

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	height: 100%;
	background-color: $headway-bg;
	color: #222;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

